*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #E1F0DA;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 105px;
    width: 105px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;

    
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score, #comp-score{
    font-size: 4rem;


}
.msg-container{
    margin-top: 5rem;
}
#msg{
    
    background-color: #50623A;
    color: white;
    font-size: 1.2rem;
    display: inline;
    padding: 0.5rem;
    border-radius:1rem;
   
}
#msg:hover{

    box-shadow: 0 0 0.5rem black; 
}

